name: Create release

on:
  push:
    branches:
      - main

jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Version
        id: version
        run: |
          VERSION=$(grep '^version =' pyproject.toml | sed -E 's/version = "([0-9]+\.[0-9]+\.[0-9]+)"/\1/')
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Determine Tag
        id: tag
        run: |
          BASE_TAG="v${{ env.VERSION }}"
          TAG=$BASE_TAG
          REVISION=0
          while git rev-parse --verify "refs/tags/$TAG" >/dev/null 2>&1; do
            REVISION=$((REVISION + 1))
            TAG="${BASE_TAG}-rev-$REVISION"
          done
          echo "TAG=$TAG" >> $GITHUB_ENV
          echo "Determined tag: $TAG"

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git

      - name: Create and Push Tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }}
        run: |
          print ${{ env.GITHUB_TOKEN }}
          git tag ${{ env.TAG }}
          git push origin ${{ env.TAG }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v.${{ env.TAG }}
          body: "Release created automatically for version ${{ env.VERSION }}."
          token: ${{ secrets.GITHUBTOKEN }}
